button {
    font-size: 16;
    horizontal-align: center;
    margin: 5;
}

.drowerBtn {
	horizontal-align: left;
	margin: 10;
	font-family: Lobster;
	font-size: 24;
}

.custom-action-bar {
	font-family: GreatVibes-Regular;
	font-size: 30;
}

.drowerContainer {
	width: 200;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.quote {
	margin-top: 50;
	font-size: 40;
	font-family: GreatVibes-Regular;
}

.author {
	font-size: 14;
	horizontal-align: right;
	font-family: Lobster;
}

.tagsLabel, .tagsTags {
	font-family: Lobster;
	font-size: 14;
}

.pageStack {
	padding: 10;
	background-image: url('~/images/backgroundWriting.png');
	background-repeat: repeat;
	background-size: 50% 50%;
}

.listView-quoteText {
	font-size: 22;
	horizontal-align: left;
	font-family: GreatVibes-Regular;
}

.listView-author {
	font-size: 12;
	horizontal-align: right;
	font-family: Lobster;
}

.listView-image {
	vertical-align: center;
	horizontal-align: center;
}

.listView-icon {
	font-family: fontawesome-webfont;
	font-size: 25;
	vertical-align: center;
	horizontal-align: center;
}

.quote-grid-cell {
	padding-top: 10;
	padding-bottom: 5;
}