button {
    font-size: 16;
    horizontal-align: center;
    margin: 5;
}

.drowerBtn {
	horizontal-align: left;
	background-color: transparent;
	border-width: 0;
	border-color: transparent;
	margin: 0;
}

.drowerContainer {
	width: 200;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.quote {
	margin-top: 50;
	font-size: 40;
	font-family: GreatVibes-Regular;
}

.author {
	font-size: 14;
	horizontal-align: right;
	font-family: Lobster;
}

.tagsLabel, .tagsTags {
	font-family: Lobster;
	font-size: 14;
}

stackLayout {
	margin: 10;
}

.listView-quoteText {
	font-size: 16;
	horizontal-align: left;
}

.listView-author {
	font-size: 12;
	horizontal-align: right;
}

.listView-image {
	vertical-align: center;
	horizontal-align: center;
}

.listView-icon {
	font-family: fontawesome-webfont;
	font-size: 25;
	vertical-align: center;
	horizontal-align: center;
}

.quote-grid-cell {
	padding-top: 10;
	padding-bottom: 5;
}